@model  IList<SecurityGuard.Web.Controllers.UserViewModel>
@{
    ViewBag.Title = "List";
}

<h2>Users</h2>


<table class="table    table-hover ">
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
    </tr>

    @foreach (var u in Model)
    {
        <tr class=@((u.LockedOut) ? "text-muted" : "") >
        <td>
        @Html.ActionLink(u.Username, "Index", new { @username = HttpUtility.UrlEncode(u.Username) })
        </td>
        <td>
        @Html.DisplayFor(modelItem => u.Email)
        </td>
        <td>
        <small>@String.Join(" , ", u.Roles)</small>
        </td>
        </tr>
    }
</table>



